# Environment variables
.env
.env.*
!.env.example

# Dependencies
/node_modules
/bookly/frontend/node_modules
/bookly/backend/node_modules
/bookly/telegram-bot/venv

# Build outputs
/dist
/build
/out

# IDE folders
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local files
*.local